<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front page</title>
</head>
<body>
    <h1>Please log in or register!</h1>
    <div>
        <div>
            <i class="fas fa-key fa-6x"></i>
            <hr>
            <a href="/register" class="btn btn-light btn-lg" role="button">Register</a>
            <a href="/login" class="btn btn-dark btn-lg" role="button">Login</a>
        </div>
    </div>
    
</body>
</html>